body{
  /* background-color: yellowgreen; */
}
button{

    background-color: #3fe244;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
  }


h1{
  background-color: bisque;
}

h2{
  background-color: coral;
}

h3{
  background-color: cadetblue;
}

h4{
  background-color: darkorange;
}